<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p><a href="http://ww2.sinaimg.cn/large/4b4d632fgw1f1hhza4495j20ku0rsjxs.jpg" target="_blank">下载</a></p>

<p><a href="http://ww2.sinaimg.cn/large/4b4d632fgw1f1hhza4495j20ku0rsjxs.jpg" download>下载</a></p>

<p><a href="../imgs/mm1.jpg" download="test.jpg">下载</a></p>

<p>截图为虚，操作为实：<a href="../imgs/mm1.jpg" download="_5332_" target="_blank">下载</a></p>


<p>截图为虚，操作为实：<a href="../imgs/mm1.jpg" download="_5332_" target="_blank">下载</a></p>
<p>点击 W3School 的 logo 来下载该图片：<p>

<a href="http://www.w3cways.com/demo/1/some-realy-crazy-file-name-389247823879472398.txt" download="test">点击下载</a>
</body>
</html>