<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>缓动小动画</title>
<style type="text/css">
div{width:500px;border: 1px solid #eee;}
</style>
</head>
<body>
<div>
<h1>今天是7月4号啦</h1>
<p>动画算法后宫家族（参考<a target="blank" href="http://www.zhangxinxu.com/wordpress/2016/12/how-use-tween-js-animation-easing/">如何使用Tween.js各类原生动画运动缓动算法</a>）</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
</div>
<p><button onclick="backToTop();">点击我返回顶部</button></p>


<div>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>
<p>下面我们套用一个简单的实例，看看这个算法是如何应用的，就是非常常见的返回顶部效果。很多网站返回顶部要么直接“啪”到顶部，要么动画按部就班没有灵性，这里演示下如何使用寥寥数行代码，实现带缓动的返回顶部效果。点击下面的按钮即可看到返回顶部效果<span class="hidden">（如果没效果，可能访问的不是原始出处，访问下面地址体验效果，http://www.zhangxinxu.com/wordpress/?p=5875）</span>：</p>

</div>
</body>
<script type="text/javascript">
//滚动到顶部缓动实现
//rate表示缓动速率，默认是2
var backToTop = function (rate) {
 var doc = document.body.scrollTop? document.body : document.documentElement;
 var scrollTop = doc.scrollTop;
 
 var top = function () {
     scrollTop = scrollTop + (0 - scrollTop) / (rate || 2);
     
     // 临界判断，终止动画
     if (scrollTop < 1) {
         doc.scrollTop = 0;
         return;
     }
     doc.scrollTop = scrollTop;
     // 动画gogogo!
     requestAnimationFrame(top);    
 };
 top();
};
</script>
</html>